<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Orc.Extensibility\Orc.Extensibility.NET40\packages.config" />
  <repository path="..\src\Orc.Extensibility\Orc.Extensibility.NET45\packages.config" />
  <repository path="..\src\Orc.Extensibility\Orc.Extensibility.NET46\packages.config" />
  <repository path="..\src\Orc.Extensibility.Tests\Orc.Extensibility.Tests.NET40\packages.config" />
  <repository path="..\src\Orc.Extensibility.Tests\Orc.Extensibility.Tests.NET45\packages.config" />
  <repository path="..\src\Orc.Extensibility.Tests\Orc.Extensibility.Tests.NET46\packages.config" />
</repositories>